<div class="navbar sticky-top" id="navbar">
<div class="container">
<div class="logo">
    <img src="assets/images/logo.png">
</div>
<div class="icons">
    <div class="first-icon">
    <ul>
        <li>REGISTER</li>
        <li>|</li>
        <li>LOGIN</li>
        <div class="clearfix"></div>
    </ul>
</div>
<div>
    <ul>
        <li>EN</li>
        <li>Ar</li>
        <li>|</li>
        <li><span>A</span>A</li>
        <div class="clearfix"></div>
    </ul>
</div>

</div>
<!-- <div class="clearfix"></div> -->
    </div>
    <div class="nav2">
    <div class="container">
        <div class="icons1">
            <i class="fa fa-bars" id="fa-bars" aria-hidden="true"></i>

                <ul class="displayedList" id="displayedList">
                <li><a routerLink="">Home</a></li>
                <li><a>Who We Are</a></li>
                <li><a>What We Do <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
                    <div class="hiddenlist">
                <ul>
                    <li>example1</li>
                    <li>example2</li>
                    <li>example3</li>
                    <li>example4</li>
                </ul> 
                </div>   
                </li>
                <li><a>Get Involved</a></li>
                <li><a>Media Centre <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
                    <div class="hiddenlist">
                    <ul >
                        <li>example1</li>
                        <li>example2</li>
                        <li>example3</li>
                        <li>example4</li>
                    </ul>
                </div>
                </li>
                <li><a>Contact Us</a></li>
            </ul>
        </div>
        <div class="icons2">

        </div>
        <div class="clearfix"></div>
    </div>
</div>

</div>